# Binaries
/restricted-proxy
/restricted-proxy-discovery
/logs-to-config

# Logs
*.log
discovery.log

# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go workspace
go.work
go.work.sum
